*{
    padding: 0;
    margin: 0;

    font-family: Segoe UI;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    background-color: #FD7423;
    color: #FFF;
    padding-left:30px;

    img{
        height: 50px;
        clip-path: circle(50% at 50% 50%);
    }
}

#organizacao_header1{
    width: 93%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    
    align-items: center;
}
#organizacao_header2{
    width: 7%;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;

    img{
        width: 20px;
    }

    img:hover{
        background-color: #c0571a;
        
    }
}

.material-symbols-outlined{
    color: #FFF;
    transform: rotate(90deg);
}
.material-symbols-outlined:hover{
   background-color: #c0571a;
   border-radius: 5px;
}


.status_header{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main{
    background-color: rgb(253, 231, 202);
    width: 100%;
    height: 720px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 630px;
}

.mensagem-chat{
    background-color: #FFF;
    width: 50%;
    height: auto;
    color: #000;
    padding: 15px;
    border-radius: 5px;
}

.chat-form{
    width: 100%;
    height: 20px;
    background-color: #FFF;
}

.texto-usuario{
    position: absolute; 
    left: 5px;
    top: 780px;
    width: 100%;
    background-color: #FFF;
    height: 120px;
    
}